{% extends "covid/base.html" %}

{% block subtag %} Covid Evolution Charts {% endblock %}

{% block charts %}
            <!--top two charts-->
            <div class="row">
                <div class="col-6">
                    <div id="{{ids.0}}"></div>
                </div>
                <div class="col-6">
                    <div id="{{ids.1}}"></div>
                </div>
            </div>

            <!--bottom two charts-->
            <div class="row mb-6">
                <div class="col-6">
                    <div id="chart3">
                        <div id="{{ids.2}}"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="chart4">
                        <div id="{{ids.3}}"></div>
                    </div>
                </div>
            </div>
{% endblock %}
